/*body .backColor {
  background-color: #efefef;
}*/
h6 {
  font-family: 'Montserrat', cursive;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.margin {
  background-color: #0d47a1;
  padding: 40px 100px 50px 50px;
  font-family: 'Montserrat';
}
.header {
  font-size: 30px;
  font-weight: lighter;
}
.mainImg {
  width: 100px;
  height: 300px;
  /*border: 2px solid grey;*/
}
.projectImg {
  width: 600px;
  height: 200px;
  margin-top: 20px;
}
.modalImg {
  width: 350px;
  height: 500px;
  margin-top: 40px;
}
.size{
  width: 100px;
  height: 200px;
}
.smallSize{
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 100px;
}
.color{
  background-color: #1976d2;
}
.text{
    color: white;
}
.sectional {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 100px;
  padding-left: 50px;
  padding-top: 40px;
  padding-bottom: 50px;
  font-style: 'Montserrat'
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #1976d2; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
.sideNav{
  padding: 30px 0 0 100px;
}
#contactDetails{
  font-size: 20px;
}
a {
    color: black;
  }
.hovery {
  color: black;
  margin-right: 20px;
  /*background-color: #616161;*/
}
a:hover {
    text-decoration: underline;
    /*background-color: #616161;*/

}
img.hover:hover{
  border: 2px solid black;
}
#parallax {
  border: 1px solid blue;
  margin: 200px 150px 0 150px;
}
/*.modal { width: 75% !important ; max-height: 100% !important }*/
.modal { width: 75% !important ; height: 300% !important ; overflow-y: hidden !important ;}
