body {
  background-color: #efefef;
}
.margin {
  background-color: #0d47a1;
  padding: 10px 100px 50px 50px;
}

.size{
  width: 100px;
  height: 200px;
}

.color{
  background-color: #0d47a1;
}
.text{
    color: white;
}
